matplotlib==3.5.3
pandas==1.2.5
numpy==1.23.2
seaborn==0.11.2
streamlit==1.12.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.26.0